DATABASE_URL="mysql://root:password@localhost:3306/parking_lot_db"
SHADOW_DATABASE_URL="mysql://root:password@localhost:3306/parking_lot_shadow_db"
PORT=3000
JWT_SECRET="smart_parking_dev_jwt_secret_32_chars_minimum"
JWT_EXPIRES_IN="1d"
PAYMENT_SERVICE_URL="http://localhost:8081"
CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
